// positioning video
.bg-video{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    // clips any overflow 
    overflow: hidden;
    // video
    &__content{
        height: 100%;
        width: 100%;
        // fits the video inside container at the same time maintains aspect raio
        object-fit: cover;
    }
}