.form{

    &__input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white,.5);
        border: none;
        font-family: inherit;
        color: inherit;
        border-bottom: 3px solid transparent;
        width:90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port){
            width: 100%;
        }
        // placeholder styling
        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
        // when input is focussed
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary;
        }
        // when input is invalid
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
    }
    // hide default radio buttons
    &__radio-input{
        display: none;
    }
    // label styling
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        // to animate label
        transition: all .3s;
    }
    // styling label when input is not focussed
    &__input:placeholder-shown + &__label{
        // to animate label
        opacity: 0;
        // its there but not shown
        visibility: hidden;
        // jumps down from input field
        transform: translateY(-4rem);
    }
    // each form group except last child
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    //both radio groups
    // display radios side by side
    &__radio-group{
        display: inline-block;
        width: 49%;
        @include respond(tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    // both radio labels
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    // custom radio buttons
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: -.4rem;
        left: 0;

        // inner element of radio button
        &::after{
            height: 1.3rem;
            width: 1.3rem;
            content: "";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    // when radio-input is selected, we need to manipulate custom ones
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}